{% extends 'base.html' %}

{% block content %}
  <h1>{{ appname }}</h1>

  <h5>{{ position1 }}</h5>
  <p>Alisson Becker</p>
  <p>Caomhin Kelleher</p>
  <p>Adrian</p>
  <p>Marcelo Pitaluga</p>

  <h5>{{ position2 }}</h5>
  <p>Joel Matip</p>
  <p>Virgil Van Dijk</p>
  <p>Ibrahima Konate</p>
  <p>Kostas Tsimikas</p>
  <p>Andy Robertson</p>
  <p>Trent Alexander-Arnold</p>
  <p>Ibrahima Konate</p>
  <p>Kostas Tsimikas</p>

  <h5>{{ position3 }}</h5>
  <p>Wataru Endo</p>
  <p>Thiago Alcantara</p>
  <p>Dominik Szobozlai</p>
  <p>Alexis Mac Allister</p>
  <p>Curtis Jones</p>
  <p>Harvey Elliot</p>
  <p>Ryan Gravenberch</p>
  <p>Stevan Bajcetic</p>

  <h5>{{ position4 }}</h5>
  <p>Luis Diaz</p>
  <p>Darwin Nunez</p>
  <p>Mohamed Salah</p>
  <p>Cody Gakpo</p>
  <p>Diogo Jota</p>

  <h5>{{ name }}</h5>
  <h5>{{ class }}</h5>

  <table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Goals</th>
        <th>Market Price</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.goals}}</td>
            <td>{{item.marketPrice}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}
