{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background-color: #FF0000;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    .login {
        text-align: center;
        background-color: #FF0000;
        color: #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 80%;
        max-width: 400px;
    }

    h1 {
        color: #FF0000;
    }

    table {
        width: 100%;
        margin-top: 20px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        color: #FF0000;
        border: 1px solid #FF0000;
    }

    input[type="submit"] {
        background-color: #FFC0CB;
        color: #FF0000;
        padding: 15px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #FFB6C1;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        color: #FFFFFF;
    }
</style>

<div class="login">
    <h1>Register</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Daftar"/></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}
